<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yaso91.alarmserver.mapper.AlarmItemInfoMapper">

    <resultMap id="advAlarmItemInfo" type="club.yaso91.alarmserver.domain.AlarmItemInfo">
        <id property="id" column="id"/>
        <result property="pushLevel" column="push_level"/>
        <result property="alarmStartTime" column="alarm_start_time"/>
        <result property="alarmSpan" column="alarm_span"/>
        <association property="alarmInfo" javaType="club.yaso91.alarmserver.domain.AlarmInfo">
            <id property="id" column="a_id"/>
            <result property="name" column="a_name"/>
        </association>
        <association property="employee" javaType="club.yaso91.alarmserver.domain.Employee">
            <id property="id" column="e_id"/>
            <result property="name" column="e_name"/>
            <result property="workId" column="e_work_id"/>

        </association>
        <association property="master" javaType="club.yaso91.alarmserver.domain.Employee">
            <id property="id" column="m_id"/>
            <result property="name" column="m_name"/>
            <result property="workId" column="m_work_id"/>
        </association>
    </resultMap>
    <insert id="insert">
        insert into
            alarm_item_info (
                alarm_id,
                alarm_start_time,
                alarm_span,
                push_level,
                employee_id,
                master_id
             )
        values (
            #{alarmInfo.id},
            #{alarmStartTime},
            #{alarmSpan},
            #{pushLevel},
            #{employee.id},
            #{master.id}
        );
    </insert>
    <update id="update">
        update
            alarm_item_info
        set
            alarm_span = #{alarmSpan},
            push_level = #{pushLevel}
        where
            alarm_id = #{alarmInfo.id}
        and
            alarm_start_time = #{alarmStartTime}
        limit
            1
        ;

    </update>

    <select id="selectSumInfos" resultMap="advAlarmItemInfo">
        select
        ai.*,
        a.id as a_id,
        a.name as a_name,
        e.id as e_id,
        e.name as e_name,
        e.work_id as e_work_id,
        m.id as m_id,
        m.name as m_name,
        m.work_id as m_work_id
        from
        alarm_item_info ai
        left outer join
        alarm_info a
        on
        ai.alarm_id = a.id
        left outer join
        employee_info as e
        on
        ai.employee_id = e.id
        left outer join
        employee_info as m
        on
        ai.master_id = m.id
        <where>
            <if test="beginTime != null and endTime != null">
                <![CDATA[ai.alarm_start_time >= #{beginTime} and (FROM_UNIXTIME(UNIX_TIMESTAMP(ai.alarm_start_time) + ai.alarm_span)) < #{endTime}]]>
            </if>
            <if test="alarmName !='' and alarmName != null ">
                and a.name = #{alarmName}
            </if>
            <if test="employeeName != '' and employeeName != null ">
                and e.name =#{employeeName}
            </if>

        </where>
        order by
        alarm_start_time

    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from alarm_item_info
    </select>
    <select id="find" resultType="club.yaso91.alarmserver.domain.AlarmItemInfo">
        select
            *
        from
            alarm_item_info
        where
            alarm_id = #{alarmId}
        and
            alarm_start_time = #{alarmTime}
        limit 1;

    </select>
</mapper>
