<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yaso91.alarm_server.mapper.AlarmItemInfoMapper">

    <resultMap id="advAlarmItemInfo" type="club.yaso91.alarm_server.entity.AlarmItemInfo">
        <id property="id" column="id"/>
        <result property="pushLevel" column="push_level"/>
        <result property="alarmStartTime" column="alarm_start_time"/>
        <result property="alarmSpan" column="alarm_span"/>
        <association property="alarmInfo" javaType="club.yaso91.alarm_server.entity.AlarmInfo">
            <id property="id" column="a_id"/>
            <result property="name" column="a_name"/>
        </association>
        <association property="employee" javaType="club.yaso91.alarm_server.entity.Employee">
            <id property="id" column="e_id"/>
            <result property="name" column="e_name"/>
            <result property="workId" column="e_work_id"/>

        </association>
        <association property="master" javaType="club.yaso91.alarm_server.entity.Employee">
            <id property="id" column="m_id"/>
            <result property="name" column="m_name"/>
            <result property="workId" column="m_work_id"/>
        </association>
    </resultMap>

    <select id="selectSumInfos" resultMap="advAlarmItemInfo">
        select
            ai.*,
            a.id as a_id,
            a.name as a_name,
            e.id as e_id,
            e.name as e_name,
            e.work_id as e_work_id,
            m.id as m_id,
            m.name as m_name,
            m.work_id as m_work_id
        from
            alarm_item_info ai
        left outer join
            alarm_info a
        on
            ai.alarm_id = a.id
        left outer join
            employee_info as e
        on
            ai.employee_id = e.id
        left outer join
            employee_info as m
        on
            ai.master_id = m.id
        order by
            alarm_start_time
        limit
         ${(page-1)*size},${size}
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from alarm_item_info
    </select>
</mapper>
