<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yaso91.alarmserver.mapper.EmployeeInfoMapper">
    <insert id="insertEmployee">
        insert into
            employee_info(
                name,
                work_id,
                position,
                email
            )
        values(
            #{name},
            #{workId},
            #{position},
            #{email}
        )
    </insert>
    <update id="updateEmployee">
        update
            employee_info
        set
            name = #{name},
            work_id  = #{workId},
            position = #{position},
            email = #{email}
        where
            id = #{id}
    </update>
    <delete id="deleteEmployees">
        delete from
        employee_info
        where
        id
        in
        <foreach collection="list" open="(" separator="," close=")" item="item" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="selectAll" resultType="club.yaso91.alarmserver.entity.Employee">
        select
            id,
            name,
            work_id as workId,
            position,
            email
        from
            employee_info;
    </select>
    <select id="selectEmails" resultType="java.lang.String">
        select
            email
        from
        employee_info
        where
            position = #{position}
    </select>
</mapper>
